/* wrap components on a flex-row */
.grid {
    display: flex;
    gap: 1.5vw;
    width:100vw;
    padding:5vh 2.5vw;
}
      
/* for the image in a grid */
  .container img {
    width:100%;
    height:60vh;
    object-fit: cover;
    border-radius: 1vw;
  }
  
  .container {
    width:100%;
    border-color: brown;
  }

  .table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table tr:nth-child(even){background-color: #f2f2f2;}
  
  .table tr:hover {background-color: #ddd;}
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  /* 
  .span_text_and_button {
    display:flex;
    justify-content: space-between;
    padding-top:3vh;
  }
  
  .span_text_and_button h3 {
    font-size:var(--medium-size);
    font-weight:400;
  }
  
  .span_text_and_button .text_wrapper p {
    font-size:var(--small-size);
    font-weight:300;
    margin-top:0.5vh;
  }
*/

  /* Responsive Styles */
  @media (max-width: 900px) {
    .grid, .main, .span_text_and_button {
      flex-direction: column;
    }
  
    .grid {
      gap:3vh;
    }
  
/*
    .span_text_and_button {
      padding-top:1.5vh;
      gap:1.5vh;
    }
*/
    .container img {
      border-radius: 3vw;
    }
  }